<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chuanke.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2C3C0B41D806C2B007C5ADB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2C3C0CD1D806C2C007C5ADB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2C3C0D81D806C2C007C5ADB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
